<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/homepage.css">
</head>

<body>
    <div class="titles">
        <h1>Anime</h1>
        <h1>Manga</h1>
    </div>

    <hr>

    <%# getting anime data from the server in a json format, which we loop over using foreach loop and %>
        <h1 class="category-title">Multiple Anime's to start your Journey!! </h1>
        <div class="grid-layout">
            <% locals.animeData.forEach(anime=> { %>
                <form action="/anime" id="animeForm-<%= anime.id %>" method="post">
                    <input type="hidden" name="anime_id" value="<%= anime.id %>">
                    <div class="anime-post">
                        <img class="anime-img" src="<%= anime.attributes.posterImage.small %>"
                            alt="<%= anime.attributes.slug + " image" %>">
                        <p>
                            <%= anime.attributes.canonicalTitle %>
                        </p>

                        <%# the rating are in out-of-100 based format we first convert to out-of-10 rating based format
                            and then we convert it to out-of-5 rating based format. %>
                            <p>Rating: <%= (((anime.attributes.averageRating) / 10) / 2).toFixed(1) %>
                            </p>
                            <p> Rated <%= anime.attributes.ageRating %> for <%= anime.attributes.ageRatingGuide %>
                            </p>
                    </div>

                </form>

                <% }) %>


        </div>

        <div class="page-no">
            <form action="/first" method="post">
                <input type="hidden" name="reqtype" value="randomAnime">
                <button class="anime-btn-first">First</button>
            </form>

            <form action="/next" method="post">
                <input type="hidden" name="reqtype" value="randomAnime">
                <button class="anime-btn-next" onclick="window.location.href='/next'">Next</button>
            </form>

            <form action="/prev" method="post">
                <input type="hidden" name="reqtype" value="randomAnime">
                <button class="anime-btn-prev" onclick='window.location.href="/prev"'>Prev</button>
            </form>


            <form action="/last">
                <input type="hidden" name="reqtype" value="randomAnime">
                <button class="anime-btn-last" onclick="window.location.href='/last'">Last</button>
            </form>
        </div>
        <hr>
        <div class="trendingAnime">
            <h1 class="category-title">Embark on your Joureny with titles loved by millions!</h1>

            <div class="grid-layout">
                <% locals.trendingAnime.forEach(anime=> { %>
                    <div class="anime-post">
                        <img class="anime-img" src="<%= anime.attributes.posterImage.small %>"
                            alt="<%= anime.attributes.slug + " image" %>">
                        <p class="anime-title">
                            <%= anime.attributes.canonicalTitle %>
                        </p>

                        <%# the rating are in out-of-100 based format we first convert to out-of-10 rating based format
                            and then we convert it to out-of-5 rating based format. %>
                            <p>Rating: <%= (((anime.attributes.averageRating) / 10) / 2).toFixed(1) %>
                            </p>
                            <p> Rated <%= anime.attributes.ageRating %> for <%= anime.attributes.ageRatingGuide %>
                            </p>
                    </div>
                    <% }) %>
            </div>

            <div class="page-no">
                <form action="/first" method="post">
                    <input type="hidden" name="reqtype" value="trendingAnime">
                    <button class="trend-btn-first">First</button>
                </form>

                <form action="/prev" method="post">
                    <input type="hidden" name="reqtype" value="trendingAnime">
                    <button class="trend-btn-prev">Prev</button>
                </form>

                <form action="/next" method="post">
                    <input type="hidden" name="reqtype" value="trendingAnime">
                    <button class="trend-btn-next">Next</button>
                </form>

                <form action="/last" method="post">
                    <input type="hidden" name="reqtype" value="trendingAnime">
                    <button class="trend-btn-last">Last</button>
                </form>

            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

        <script>
            jQuery(document).ready(function () {
                // Retrieve server value indicating whether the user is on the homepage (first page)
                var isAnimePrevHome = "<%= locals.isAnimePrevHome %>";
                var animeSession = sessionStorage.getItem("anime-clicked");

                console.log('isAnimePrevHome:', isAnimePrevHome);

                // Logic to show/hide buttons
                if (isAnimePrevHome === "hide") {
                    // If we're on the homepage via Prev, hide the buttons
                    jQuery(".anime-btn-first, .anime-btn-prev").hide();
                } else if (animeSession === "anime") {
                    // If user clicked "Next", show buttons
                    jQuery(".anime-btn-first, .anime-btn-prev").show();
                } else if (animeSession === null) {
                    // If we're back on the homepage
                    jQuery(".anime-btn-first, .anime-btn-prev").hide();
                } else {
                    // Otherwise, keep buttons visible
                    jQuery(".anime-btn-first, .anime-btn-prev").show();
                }

                // Update sessionStorage when buttons are clicked
                jQuery(".anime-btn-next").click(function () {
                    sessionStorage.setItem("anime-clicked", "anime"); // Set session to 'anime' when clicking Next
                });

                // jQuery(".anime-btn-prev").click(function () {
                //     sessionStorage.setItem("anime-clicked", null); // Set session to 'null' when clicking Prev
                // });

                jQuery(".anime-btn-first").click(function () {
                    sessionStorage.removeItem("anime-clicked"); // Clear session when clicking First
                });


                jQuery(".anime-post").click(function () {
                    jQuery(this).closest('form').submit();
                })
            });


        </script>
</body>

</html>