<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/homepage.css">
</head>

<body>
    <div class="titles">
        <h1>Anime</h1>
        <h1>Manga</h1>
    </div>

    <hr>

    <%# getting anime data from the server in a json format, which we loop over using foreach loop and %>
        <h1 class="category-title">Multiple Anime's to start your Journey!! </h1>
        <div class="grid-layout">
            <% locals.animeData.forEach(anime=> { %>
                <div class="anime-post">
                    <img class="anime-img" src="<%= anime.attributes.posterImage.small %>"
                        alt="<%= anime.attributes.slug + " image" %>">
                    <p>
                        <%= anime.attributes.canonicalTitle %>
                    </p>

                    <%# the rating are in out-of-100 based format we first convert to out-of-10 rating based format and
                        then we convert it to out-of-5 rating based format. %>
                        <p>Rating: <%= (((anime.attributes.averageRating) / 10) / 2).toFixed(1) %>
                        </p>
                        <p> Rated <%= anime.attributes.ageRating %> for <%= anime.attributes.ageRatingGuide %>
                        </p>
                </div>
                <% }) %>


        </div>

        <div class="page-no">
            <form action="/first">
                <input type="hidden" name="reqtype" value="randomAnime">
                <button class="anime-btn-first" onclick='window.location.href="/first"'>First</button>
            </form>

            <form action="/next" method="post">
                <input type="hidden" name="reqtype" value="randomAnime">
                <button class="anime-btn-next" onclick="window.location.href='/next'">Next</button>
            </form>

            <form action="/prev">
                <input type="hidden" name="reqtype" value="randomAnime">
                <button class="anime-btn-prev" onclick='window.location.href="/prev"'>Prev</button>
            </form>


            <form action="/last">
                <input type="hidden" name="reqtype" value="randomAnime">
                <button class="anime-btn-last" onclick="window.location.href='/last'">Last</button>
            </form>
        </div>
        <hr>
        <div class="trendingAnime">
            <h1 class="category-title">Embark on your Joureny with titles loved by millions!</h1>

            <div class="grid-layout">
                <% locals.trendingAnime.forEach(anime=> { %>
                    <div class="anime-post">
                        <img class="anime-img" src="<%= anime.attributes.posterImage.small %>"
                            alt="<%= anime.attributes.slug + " image" %>">
                        <p class="anime-title">
                            <%= anime.attributes.canonicalTitle %>
                        </p>

                        <%# the rating are in out-of-100 based format we first convert to out-of-10 rating based format
                            and then we convert it to out-of-5 rating based format. %>
                            <p>Rating: <%= (((anime.attributes.averageRating) / 10) / 2).toFixed(1) %>
                            </p>
                            <p> Rated <%= anime.attributes.ageRating %> for <%= anime.attributes.ageRatingGuide %>
                            </p>
                    </div>
                    <% }) %>
            </div>

            <div class="page-no">
                <form action="/first" method="post">
                    <input type="hidden" name="reqtype" value="trendingAnime">
                    <button class="trend-btn-first">First</button>
                </form>

                <form action="/prev" method="post">
                    <input type="hidden" name="reqtype" value="trendingAnime">
                    <button class="trend-btn-prev">Prev</button>
                </form>

                <form action="/next" method="post">
                    <input type="hidden" name="reqtype" value="trendingAnime">
                    <button class="trend-btn-next">Next</button>
                </form>

                <form action="/last" method="post">
                    <input type="hidden" name="reqtype" value="trendingAnime">
                    <button class="trend-btn-last">Last</button>
                </form>

            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

        <script>

            //creating variables for checking if we are on homepage & if clicking previous button throws us at homepage?
            var homePage = "<%= locals.homePageCheck %>";
            var isPrevBtnHomebtn = "<%= locals.isPrevHome %>";
            var whichBtnToShw = "<%= locals.whichButtonToShow %>";
            var isTrPrevBtnHomebtn = "<%= locals.isTrPrevHome %>"
            console.log(whichBtnToShw);
            // implementing logic that if we are on homepage or if previous button redirects us to homepage then hide the home and prev button.


            var animeSession = sessionStorage.getItem("anime-clicked");
            var trendingSession = sessionStorage.getItem("trending-clicked");

            jQuery(document).ready(function () {


                //   jQuery(".trend-btn-first").hide();
                //     jQuery(".trend-btn-prev").hide();
                if (animeSession === "anime") {
                    jQuery(".anime-btn-first, .anime-btn-prev").show();
                } else {
                    jQuery(".anime-btn-first").hide();
                    jQuery(".anime-btn-prev").hide();
                }


                if (trendingSession === "trending") {
                    jQuery(".trend-btn-first, .trend-btn-prev").show();
                } else {
                    jQuery(".trend-btn-first").hide();
                    jQuery(".trend-btn-prev").hide();
                }

                jQuery(".anime-btn-next").click(function () {
                    sessionStorage.setItem("anime-clicked", "anime");
                })

                jQuery(".trend-btn-next").click(function () {
                    sessionStorage.setItem("trending-clicked", "trending");
                })

                jQuery(".trend-btn-first").click(function () {
                    sessionStorage.setItem("trending-clicked", null);
                })

                jQuery(".anime-btn-first").click(function () {
                    sessionStorage.setItem("anime-clicked", null);
                })
            }
            )






        </script>
</body>

</html>